.hero{
    padding: 2rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    align-items: center;
    gap: 2rem;
    .texto-hero{
        
        color:rgb(255, 255, 204);
        font-size: 14pt;
        text-align: center;
        h1{
            color:$roojo;
            font-family: bitcheese;
            font-size: 60pt;
            padding-bottom: 2rem;
            
        }
    }
}